[asr]
#name of the classifier
asr = encoder_reconstructor
#name of the encoder
encoder = unidir_listener
#name of the reconstructor
reconstructor = lstm_feature_reconstructor
#the standard deviation of the Gaussian input noise that is added during training
std_input_noise = 0.6
#number of pyramidal layers in the listener a non-pyramidal layer is added
#at the end
listener_numlayers = 2
#number of units in the listener
listener_numunits = 256
#listener dropout rate
listener_dropout = 0.5
#the amount of labels that should be added to the reconstruction
add_labels_reconstruction = 1
# the number of hidden units for the reconstructor
reconstructor_numunits = 64
